* {
  box-sizing: border-box;
  font-family: Poppins;
}

body {
    margin: 0;
  min-height: 100vh;
  background-image: url("fondoani.jpg");
  background-size: cover;      
  background-position: center;   
  background-repeat: no-repeat;
  background-attachment: fixed;  
  
  text-align: center;
  padding: 100px;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.452); 
  z-index: -1;
}

#loading-message {
  color: white;
  font-size: 24px;
}

#titulo {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.853);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
}

#anime-title-okay {
  color: rgb(106, 0, 0);
  font-size: 20px;
}

h1 {
  margin-bottom: 10px;
}

#anime {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#detalleanime {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
}

.anime-card {
  display: flex;
  gap: 20px;
  background-color: #ffffffee;
  padding: 20px;
  border-radius: 12px;
  align-items: center;
}


.anime-card:hover {
  box-shadow: 0 12px 25px rgba(198, 198, 198, 0.15);

}

.anime-card img {
  width: 150px;
  height: auto;
  border-radius: 8px;
}


.anime-card h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.anime-card p {
  font-size: 14px;
  color: #555;
}

.anime-card button {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.anime-card button:hover {
  background-color: #43a047;
}

.back-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #2196f3;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.details-page {
  color: white;
}

.details-page::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: -1;
}


.details-page .anime-detail-card {
  background-color: rgba(20, 20, 20, 0.929);
  color: white;
  padding: 30px;
  border-radius: 16px;
  max-width: 800px;
  margin: auto;
}
.details-page p {
  color: #edeaea;
}



